@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Inter-Regular/Inter-Regular.woff2") format("woff2"),
  url("../fonts/Inter-Regular/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Inter-Medium/Inter-Medium.woff2") format("woff2"),
  url("../fonts/Inter-Medium/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Inter-SemiBold/Inter-SemiBold.woff2") format("woff2"),
  url("../fonts/Inter-SemiBold/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Inter-Bold/Inter-Bold.woff2") format("woff2"),
  url("../fonts/Inter-Bold/Inter-Bold.woff") format("woff");
}

body {
  font-family: Inter, sans-serif;
  font-weight: 500;
}
