@font-face {
	font-family: Inter;
	font-weight: 600;
	font-style: normal;
	src: local("Inter Semi Bold"), local("Inter-Semi-Bold"),
		url("Inter-SemiBold.woff2") format("woff2"), url("Inter-SemiBold.woff") format("woff"),
		url("Inter-SemiBold.ttf") format("truetype");
}
